{{ define "main" }}
  {{ partial "page-header" . }}

<script>
window.addEventListener("load", function() {
    var now = new Date();
    var utcString = now.toISOString().substring(0,19);
    var year = now.getFullYear();
    var month = now.getMonth() + 1;
    var day = now.getDate();
    var hour = now.getHours();
    var minute = now.getMinutes();
    var second = now.getSeconds();
    var localDatetime = year + "-" +
                      (month < 10 ? "0" + month.toString() : month) + "-" +
                      (day < 10 ? "0" + day.toString() : day);
    var localDatetimeMax = (year + 2) + "-" +
                      (month < 10 ? "0" + month.toString() : month) + "-" +
                      (day < 10 ? "0" + day.toString() : day);
    var datetimeField = document.getElementById("startdate");
   // datetimeField.value = localDatetime;
    datetimeField.min = localDatetime;
    datetimeField.max = localDatetimeMax;
    });
</script>
 <section class="section-sm">
    <div class="container">
      <div class="row">
        <div class="md:col-10 lg:col-6 mx-auto">
        <form action="https://formkeep.com/f/40638ba86112"  accept-charset="UTF-8" enctype="multipart/form-data" method="POST">
            <input type="hidden" name="redirect" value="https://100percenthuman.dev/contactsuccess">
            <div class="mb-6">
              <input type="hidden" name="access_key" value="02d66925-8a0a-4bbf-a77b-01f8a82d2203">
              <label for="name" class="form-label">Name</label>
              <input id="name" name="name" class="form-input" placeholder="Optional, but the reply mail will be awkward without it 😅" type="text">
            </div>
            <div class="mb-6">
              <label for="name" class="form-label">Company <span class="text-red-500"></span></label>
              <input id="name" name="name" class="form-input" placeholder="Optional, but I'll ask for it if you're requesting a quote 😄" type="text">
            </div>
            <div class="mb-6">
              <label for="email" class="form-label">Working Email Address <span class="text-red-500">*</span></label>
              <input id="email" name="email" class="form-input" placeholder="username@email.com" type="email" required>
            </div>
            <div class="mb-6">
				<input type="checkbox" id="sendquote" name="sendquote" checked> <label for="checkbox">Please send me a quote for the 100% Human 6-week UI Test program</label>

            </div>
            <div class="mb-6">
				<label for="startdate">Preferred start date for program (optional):</label>
				<input type="date" id="startdate" name="startdate" min="2025-01-18" placeholder="">
            </div>
            <div class="mb-6">
              <label for="add-ons">I'm also interested in the following add-ons:</label> <select name="add-ons" id="add-ons">
                <option value="notscheduling">
                  None
                </option>
                <option value="planbuilder">
                  3-week test plan builder
                </option>
                <option value="cicd">
                  3-week CI/CD setup
                </option>
                <option value="both">
                  both
                </option>
              </select>
            </div>
            <div class="mb-6">
              <label for="message" class="form-label">Anything else?</label>
              <textarea id="message" name="message" class="form-input" placeholder="Message goes here..." rows="8">Hi Halle,

I also wanted to inquire about:


Cheers,

 </textarea>
                          <div class="mb-6">

            </div>
            </div><button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- google map -->
  {{ with site.Params.google_map }}
    {{ if .enable }}
      <div
        id="map"
        style="height: 400px;"
        data-latitude="{{ .map_latitude }}"
        data-longitude="{{ .map_longitude }}"
        data-marker="{{ .map_marker | relURL }}"
        data-marker-name="{{ site.Title }}"></div>
    {{ end }}
  {{ end }}


  {{ if site.Params.google_map.enable }}
    {{ $gmap:= resources.Get "plugins/maps/google-map.js" }}
    <script defer src="{{ $gmap.RelPermalink }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ site.Params.google_map.map_api_key }}&libraries=places"></script>
  {{ end }}

{{ end }}
